<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title th:text="#{students.list}"></title>
<link rel="stylesheet" th:href="@{/css/application.css}">
      
 	<div th:replace="~{fragments :: head}"></div>
</head>
<body>
<div th:replace="~{fragments :: navbar('studenti')}"></div>
<img alt="logo" th:src="@{/img/logo.png}">
<h1 th:text="#{students.list}" class="verde"></h1>
<p th:if="${studenti.size()==0}">Nessuno studente trovato</p>
<ul th:if="${studenti.size()>0}" class="list-group">
	<li th:each="s:${studenti}" th:with="nominativo=${s.getNome()}+' '+${s.getCognome()}" class="list-group-item">
		<span th:text="${nominativo}"></span>
	</li> 
</ul>


<div th:replace="~{fragments :: script}"></div>
</body>
</html>